# Entornos virtuales
venv/
.env/
.env*/
.venv/

# Cachés de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Configs de editor/IDE
.vscode/
.idea/
*.code-workspace

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log
